
body {
    background-color: #DCEDC8;
}

.quote-box {
    background-color: #8BC34A;
    width: 80%;
    color: white;
    margin: 25% auto;
    padding: 10px;
    box-shadow: 10px 10px grey;
}

.text {
    text-align: center;
    font-size: 24px;
}

.author {
    font-size: 18px;
    text-align: right;
    margin-right: 20%;
}

.twitter {
    color: white;
    text-decoration: none;
    text-align: left;
}

.new-quote {
    float: right;
    box-shadow: 2px 2px grey;
}

@media screen and (min-width: 680px) {
    
    .quote-box {
        width: 50%;
        margin: 15% auto;
        padding: 20px;
    }

    .text {
        font-size: 36px;
    }

    .author {
        font-size: 24px;
        text-align: right;
        margin-right: 10%;
    }
}

